/************************************************************

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

	
	project:	BIM
	desc:		
		
	module: 	widgetPartProperty
	desc: 			
	usage:	$( DOMelement ).wPartProperty({name:'radius', valu:2.1});
	
	
	by: 		Andrew Siddeley 
	started:	22-Jan-2017
**************************************************************/

.bimBlackboard {
	overflow:hidden;
	width:100%;
	height:220px;
	padding:5px;
	float:left;
	background:black;
	color:white; 
}


.bimBoard, .bimCreater, .bimFeatures, .bimPicker { 
	border-top: solid 1px black;
	overflow:hidden;
	width:100%;
	height:auto;
	width:100%;
	padding:2px;
	float:left;
	background:silver;
}

.bimButton {
	font-size:8px;
	font-family:sans-serif;
	
}

.bimCell{
	font-size:12px;
	font-family:sans-serif;
	background:auto;
	border-color:black;
	border-style:solid;
	border-width:1px;
	border-radius:3px;
	margin:2px;
	padding:2px;
	min-height:16px;
	overflow:hidden;
}

.bimCellname{
	color:black;
	width:auto;
	float:left;
	padding-right:10px;
}

.bimCelltextarea {
	background:beige;
	color:black;
	width:auto;
	float:left;	
	resize:none;
	height:auto;
	overflow:hidden;
}

.bimCelledit {
	background:beige;
	color:black;
	width:auto;
	float:left;	
	resize:none;
	height:auto;
	overflow:hidden;
}


.bimCellvalu{
	color:black;	
	width:auto;
	float:left;
}

.bimDialog {
	position: fixed;
	z-index: 15;
	top: 50px;
	left: 10px;
	padding:10px;
	margin:10px;	
	overflow:auto;
	width:200px;
	height:200px;
	background:rgba(0,0,0,0.5);
}

.bimDump {	
	position: fixed;
	z-index: 15;
	top: 50px;
	left: 50px;
	padding:10px;
	margin:10px;	
	overflow:auto;
	width:800px;
	height:400px;
	background:silver;
	color:black; 
}

.ui-dialog {	
	background-color:rgba(100, 100, 100, 0.5);
}

.ui-dialog-titlebar {	
	background-color:rgba(100, 100, 100, 0.5);
}

